/* media query de table 768 1024 */

@media screen and (min-width: 769px) and (max-width: 960px) {
    header {
        background-color: aliceblue;
    }
}


/* media query mobile 320px 768px */
@media screen and (max-width: 768px) {

    header {
        background-color: white;
        flex-direction: column;
        align-items: center; 

        .desktop-menu{
            display:none;
        }

        .mobile-menu{
            display:block;
            margin-top: 10px;
        }
    }


    main {

        .titulo-principal {
            text-align: center;
            font-size: 24px;
            color: blueviolet;
            margin-bottom: 50px;
        }

        .container-flex-grid {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 300px); 
            gap: 200px; 
            justify-items: center;
            margin-left: 0%;
        }

        .imagen-card {
            justify-content: space-between;
            width: 300px;
            margin: 50px;
            padding: 16px;
        }

        .imagen-card img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            text-align: center;
            padding: 20px;
            border-radius: 5px;
        }

        .fotorep {
            display: none;
        }

        .bloque-medio {
            grid-template-columns: repeat(3, 1fr);
            margin-top: 100px;
            align-items: start;
        }

        h4 {
            font-size: small;
        }
    }

    .main_como_comprar {
        .logo-pulp {
            display: none;
        }
    }

    .parrafo-mini {
        font-size: small;
    }

    .main-nosotros {
        .container-nosotros {

            .veni-visitarnos {
                font-size: 20px;
            }

            .gradiente {
                padding: 10px 0;
            }
        }
    }



    footer {
        flex-direction: column;
        align-items: center;
        background-color: beige;
        gap: 5px;

        ul {
            flex-direction: column;

            li {
                display: block;

                a {
                    color: black
                }
            }
        }
    }
}