$color-menu-principal: #2B2B2B;

/* lista */
$colores:
#d60eac,
#ff00ff92,
whitesmoke,
aliceblue;

/* maps */
$boton-compra: (
    bg-compra: grey,
    font-size-compra: 20px,
    border-compra: 3px solid transparent
);








