/* footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-top: 5px;
    background-color: #2B2B2B;

    ul {
        display: flex;
        column-gap: 50px;
        padding: 25px;
        list-style: none;
    }

    li {
        a {
            @extend %menu;
        }
    }

    .logo-redes {
        height: 5%;
        padding: 20px;
    }
}