
header {

    .logo{
        width: 200px;
    }
    .menu-color{
        background-color: $color-menu-principal;
    }

    .menu{
        flex-grow: 0;
    }
    
    .menu .menu-ul{
        column-gap: 10px;
        align-items: center;
    }
    
    .menu ul li a{
        color: nth($list: $colores, $n:1 );
        font-size: 18px;
        text-decoration: none;
    }
    
    .menu ul li a:hover{
        color:nth($list: $colores, $n:2 );
        text-decoration: underline;
    }
    
    
    .menu-button{
        border: none;
    }
    
    .menu-button:focus{
        box-shadow: none;
    }
    
    .padding-0{
        padding: 0;
    }
    .menu-icon {
        background-image: url(./../img/menu-hamburguesa.svg);
    }
}